
<div class="register-form">
  <form class="d-flex flex-column justify-content-between">
    <div class="form-group mb-4">
      <label for="modelo">Modelo</label>
      <input type="text" [(ngModel)]="carro.modelo" name="modelo" class="form-control" id="modelo"
        placeholder="Modelo do Carro">
    </div>
    <div class="form-group mb-4">
      <label for="ano">Ano</label>
      <input type="number" [(ngModel)]="carro.ano" name="ano" class="form-control" id="ano"
        placeholder="Ano do Modelo">
    </div>
    <button  type="button" (click)="salvar()" class="w-25 btn btn-success">Cadastrar</button>
  </form>
</div>