<p>menu works!</p>

<input routerLink="/admin/pessoas" type="button" value="Listagem de pessoas" />
<br>
<input routerLink="/admin/pessoas/cadastrar" type="button" value="Add pessoa" />
<br>
<input routerLink="/login" type="button" value="Sair" />
<br>
<input routerLink="/admin/carros" type="button" value="Listagem de carros" />
<br>
<input routerLink="/admin/carros/cadastrar" type="button" value="Add carros" />
<br>
<input routerLink="/admin/livros" type="button" value="Listagem de livros" />
<br>
<input routerLink="/admin/livros/cadastrar" type="button" value="add livros" />



